.draw {
  &>div {
    margin-top: 2.625rem;
    padding-inline: 2.25rem;
    display: grid;
    gap: 2.5rem;

    &.hidden {
      display: none;
    }

    & header {
      & h2 {
        font: var(--label-md);
        color: var(--content-primary);
        text-transform: uppercase;
      }

      & p {
        font: var(--text-md);
        color: var(--content-tertiary);
        margin-top: 2px;
      }

    }

    & .draw-container {
      display: grid;
      gap: 1.25rem;

      & .draw-wrapper {
        display: flex;
        gap: .75rem;

        & div {

          display: flex;
          flex-direction: column;
          align-items: center;
          gap: .5rem;

          & span:first-child {
            font: var(--label-sm);
            text-transform: uppercase;

          }

          & span:last-child {

            display: inline-block;
            font: var(--display-sm);
            color: var(--content-primary);
            border-radius: 8px;
            border: 1px solid var(--background-secondary, #111012);
            background: var(--background-secondary, #111012);
            padding: .25rem .5rem;
            width: 5.375rem;
            text-align: center;
          }
        }
      }
    }

    & .switch-wrapper {
      position: relative;
      display: flex;
      gap: .5rem;

      &:has(:checked) {
        &>span {
          background-image: var(--gradient-background, linear-gradient(91deg, #D586E0 0%, #91A1FA 98.93%));

          & .ball {
            transform: translateX(70%);
          }
        }


      }

      & input {
        position: absolute;
        opacity: 0;
        width: 1.875rem;
        height: 1.25rem;

      }

      &>span {
        width: 1.875rem;
        height: 1.25rem;
        background: var(--content-tertiary);
        border-radius: 16px;
        position: relative;
        z-index: -1;
        transition: background-image .2s ease-in-out;


        & .ball {
          display: inline-block;
          width: 0.875rem;
          height: 0.875rem;
          background-color: var(--content-primary);
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: 3px;
          z-index: -1;

          transition: transform .2s ease-in-out;
        }
      }

      & label {
        font: 400 .75rem/1.5 var(--ff-inter);
        color: var(--content-primary);
      }


    }

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      height:100%;

      font: var(--label-sm);
      text-transform: uppercase;

      color: var(--content-primary);
      background: var(--bg-tertiary);

      padding: 1rem;
      border: none;
      border-radius: 8px;
    }

    & .area-btn {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 3.5rem;
      border-radius: 10px;
      background: var(--gradient-border);
    }
  }


  &>div:last-child {
    text-align: center;

    & h3 {
      margin-top: .25rem;
      font: var(--overline);
      text-transform: uppercase;
    }

    & .resultado {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      &>.card {
        position: relative;
        min-height: 100px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--content-brand);

        & .square {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 100px;
          height: 100px;
          border-radius: 28px;

          z-index: -1;
        }



        & h2 {

          width: 84px;
          height: 84px;
          display: flex;
          align-items: center;
          justify-content: center;

          font: 700 3rem/1.5 var(--ff-roboto-mono);

          text-transform: uppercase;
        }
      }




    }
  }
}

@media (width > 768px) {
  .draw {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>div {
      margin-top: 0;
    }
  }
}