main {
  width: min(100%, 78rem );
  margin: auto;
  padding-inline: 2rem ;

  display: grid;

  grid-template-areas:
    "title"
    "draw"
    "info"
  ;

  justify-content: space-between;

  & section.title {
    grid-area: title;
  }

  & section.info {
    grid-area: info;
  }

  & section.draw {
    grid-area: draw;
  }



}



@media (width > 768px) {
  main {

    grid-template-areas:
      "title draw"
      "info draw"
    ;
    grid-template-columns: 508px 48%;

    gap: 3rem 1rem;
  }
}